<section id="contact" class="contact">
    <div class="container-fluid">
    <div class="text-center" display="block">
        <form action="https://formspree.io/schneider9@gmail.com" method="POST">
           <div> <input type="email" name="email" placeholder="Your email">
            </div>
            <div><textarea name="message" placeholder="Your message"></textarea>
            </div>
            <div><button type="submit">Send</button>
            </div>
        </form>
    </div>
    </div>
</section>
