<section id="services" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-justify" display="block">
              Anthony Schneider is a trilingual (English, French and German) operatic bass from Austria and New Zealand, and is a Studio Artist at Houston Grand Opera. He is a graduate from the Academy of Vocal Arts in Philadelphia, where he sang the following roles: Sarastro in Die Zauberflöte, Sparafucile in Rigoletto, Archibaldo in L’amore dei tre re, Il Commendatore in Don Giovanni, Méphistophélès in Faust, Colline in La Bohème, and Conte des Grieux in Manon. During his time at AVA, Anthony was a soloist for Handel's Messiah with the Philadelphia Orchestra in 2014, and performed Sibelius songs with Lyric Fest in 2015. In January 2016 he was selected as one of four participants in Joyce DiDonato’s Masterclasses in Carnegie Hall. Anthony covered the roles of Banquo in Macbeth, Sprecher and 2nd Priest in Die Zauberflöte and performed the role of 2nd Armed Man as part of the Glimmerglass Festival 2015.

              Last summer, Anthony was a Filene Young Artist at Wolf Trap Opera, performing the Sacristan in Tosca and Fabrizio in Rossini's La pietra del paragone.
            
              Anthony was a Semifinalist for the 2016 Metropolitan Opera National Council Auditions. Other recent awards include a Grant from the Gerda Lissner Foundation Lieder/Song Competition 2016, 2nd Prize in the Giargiari Bel Canto Competition 2016 and 2nd Prize in the Metropolitan Opera National Council Auditions Mid Atlantic Region 2017. Anthony is also the proud recipient of a Kiri te Kanawa Foundation Scholarship.
              
              At HGO this season, Anthony will sing Dottore Grenvil in La traviata, Curio in Giulio Cesare, Tutor/Old Servant in Elektra, and Don Basilio in the summer outdoor performances of Il barbiere di Siviglia.
            </div>
        </div>
    </div>
</section>
